@use "../scss/constants" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: $primary_dark;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.light {
  background-color: $primary_light;

  p,
  a,
  select,
  button,
  input,
  h1,
  h2,
  h3,
  h4 {
    color: $primary_dark;
  }
}
