@use "../scss/constants" as *;
@use "../scss/functions" as *;

.main {
  height: 100%;
}

.light {
  background-color: $primary_light;

  p,
  button,
  option,
  input,
  h1,
  h2,
  h3,
  h4,
  select {
    color: $primary_dark;
  }
}

.contentWrapper {
  padding: $spacing_l;
  width: 100vw;
  margin: 0 auto;
  max-width: px-to-rem(1600px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.toggleWrapper {
  position: absolute;
  top: $spacing_s;
  right: $spacing_s;
}
