@use "../scss/functions" as *;
// COLORS DARK THEME
$primary_dark: #000d21;
$secondary_dark: #292c45;
$accent_dark: #d9a21b;
$complementary: #9f6af5;

// COLORS LIGHT THEME
$primary_light: #dce5f3;
$secondary_light: #eeeeee;
$accent_light: #a87700;

// TYPOGRAPHY
$heading_large: px-to-rem(23px);
$heading_medium: px-to-rem(19px);
$text_medium: px-to-rem(16px);
$text_small: px-to-rem(14px);

$fontweight_regular: 400;
$fontweight_light: 300;

// SPACING
$spacing_2xs: px-to-rem(12px);
$spacing_xs: px-to-rem(18px);
$spacing_s: px-to-rem(24px);
$spacing_m: px-to-rem(36px);
$spacing_l: px-to-rem(48px);
$spacing_xl: px-to-rem(72px);
$spacing_xxl: px-to-rem(96px);
$spacing_3xl: px-to-rem(144px);

// BREAKPOINTS
$xsBreakpoint: 576px;
$smBreakpoint: 768px;
$mdBreakpoint: 1024px;
$lgBreakpoint: 1290px;
$xlBreakpoint: 1440px;
