// COLORS DARK THEME
$primary_dark: #000d21;
$secondary_dark: #292c45;
$accent_dark: #d9a21b;
$complementary: #9f6af5;

// COLORS LIGHT THEME
$primary_light: #dce5f3;
$secondary_light: #eeeeee;
$accent_light: #a87700;

// TYPOGRAPHY
$heading_large: 23px;
$heading_medium: 19px;
$text_medium: 16px;
$text_small: 14px;

$fontweight_regular: 400;
$fontweight_light: 300;

// SPACING
$spacing_2xs: 12px;
$spacing_xs: 18px;
$spacing_s: 24px;
$spacing_m: 36px;
$spacing_l: 48px;
$spacing_xl: 72px;
$spacing_xxl: 96px;
$spacing_3xl: 144px;

// BREAKPOINTS
$xsBreakpoint: 576px;
$smBreakpoint: 768px;
$mdBreakpoint: 1024px;
$lgBreakpoint: 1290px;
$xlBreakpoint: 1440px;
